@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

:root {
    --text-color: #f5f5f5;
    --hover-color: #12f7ff;
    --bg-color: #250821;
    --secon-bg-color: #292e33;
    --bg-font: 2.5rem;
    --normal-font: 2rem;
    --neno-box-shadow: 0 0 .5rem #12f7ff;
    --h2-font: 3rem;
    --font-neno-text-shadow: 0 0 10px rgba(18, 247, 255, 0.6),
        0 0 20px rgba(18, 247, 255, 0.6),
        0 0 30px rgba(18, 247, 255, 0.6),
        0 0 40px rgba(18, 247, 255, 0.6),
        0 0 70px rgba(18, 247, 255, 0.6),
        0 0 80px rgba(18, 247, 255, 0.6),
        0 0 100px rgba(18, 247, 255, 0.6),
        0 0 150px rgba(18, 247, 255, 0.6);
}

::-webkit-scrollbar{
    height: 0;
    width: .5rem;
}

::-webkit-scrollbar-track{
    background: var(--secon-bg-color);
}
::-webkit-scrollbar-thumb{
    background: var(--hover-color);
    border-radius: 5rem;
}





body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 10%;
}


header.sticky{
    background: var(--bg-color);
    border-bottom: 1px solid var(--secon-bg-color);
    padding: 12px 10%;
}

.logo {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #4e54c8;
}

/*span {*/
/*    color: var(--hover-color);*/
    

    
/*}*/

.navlist {
    display: flex;
}

.navlist a {display: inline-block;
    color: var(--text-color);
    font-weight: 500;
    padding: 10px 20px;
    animation: slideAnimation 1s ease forwards;
    animation-delay: calc(.3s * var(--i));
    opacity: 0;
}

.navlist a:hover {
    color: var(--hover-color);
    text-shadow: 0 0 10px rgba(18, 247, 255, 0.2),
        0 0 20px rgba(18, 247, 255, 0.2),
        0 0 30px rgba(18, 247, 255, 0.2),
        0 0 40px rgba(18, 247, 255, 0.2),
        0 0 70px rgba(18, 247, 255, 0.2),
        0 0 80px rgba(18, 247, 255, 0.2),
        0 0 100px rgba(18, 247, 255, 0.2),
        0 0 150px rgba(18, 247, 255, 0.2);
    ;

}

#menu-icon {
    font-size: 1.8rem;
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    background: var(--hover-color);
    border-radius: 3px;
    color: var(--secon-bg-color);
    display: none;

}

section {
    padding: 100px 10%;
}

.home {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 4em;
    font-size: 1.5rem;
}

.home-cotent {
    max-width: 600px;
}

.home-image {
    
    border-radius: 50%;
}

/* .img-box {
    text-align: center;
} */

/* .img-box img {
    width: 100%;
    max-width: 350px;
    height: auto;
} */

.home-image img{
    position: relative;
    float: right;
    top: 3rem;
    width: 25vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--hover-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.home-image img.hover{
    box-shadow: 0 0 25px var(--hover-color),
                0 0 50px var(--hover-color),
                0 0 100px var(--hover-color),
                0 0 150px var(--hover-color),
                0 0 200px var(--hover-color);
            
}

.liquid-shape {
    position: absolute;
    width: 40%;
    z-index: -1;
    margin: 600px;

}

.liquid-shape:nth-child(2) {
    filter: blur(50px);

}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 2em;
    background: var(--secon-bg-color);
}

.about .img-about {
    text-align: center;
    position: relative;
}

.about .img-about img {
    max-width: 400px;
    height: auto;
}

.about-content span {
    color: #fdfdfd;
    font-size: .8rem;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.about-content h2 {
    color: var(--hover-color);
    font-weight: 700;
    font-size: var(--normal-font);

}

.about-content p {
    color: #fdfdfd;
    font-weight: 300;
    margin-bottom: 1.5rem;
}

.skills {
    background: var(--bg-color);

}

.skill-main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}

.skill-bar {
    margin-bottom: 2.3rem;
}

.main-text h2 {
    margin-bottom: 2rem;
    font-size: var(--normal-font);

}

.main-text span {
    color: #fdfdfd;
    font-size: .8rem;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
}




.skill-left .skill-bar .info {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

}

.skill-left .skill-bar .bar {
    width: 100%;
    height: 10px;
    background-color: var(--secon-bg-color);
    border-radius: 25px;
    margin-top: 10px;
    position: relative;

}

.skill-bar .bar span {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    background-color: var(--hover-color);
    border-radius: 25px;
    box-shadow: var(--neno-box-shadow);
}

.skill-bar .bar .html {
    width: 80%;
    animation: html 4s;
}

.skill-bar .bar .css {
    width: 70%;
    animation: css 5s;
}

.skill-bar .bar .javascript {
    width: 50%;
    animation: javascript 6s;
}

.skill-bar .bar .python {
    width: 75%;
    animation: python 7s;
}

.skill-bar .bar .c {
    width: 70%;
    animation: c 8s;
}

.skill-bar .bar .java {
    width: 50%;
    animation: java 9s;
}

.projects {
    background-color: var(--secon-bg-color);
}

.main-text {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--hover-color);
}

.main-text h2 {
    font-weight: 700;
    font-size: var(--normal-font);
}

.main-text span {
    color: #fdfdfd;
    font-size: .8rem;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.section-projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 2rem;
}

.section-projects .project-box {
    flex: 1 1 18rem;
    padding: 2rem 1rem 2rem;
    text-align: center;
    background: var(--bg-color);
    transition: transform .4s;
    border-radius: 10px;
    box-shadow: var(--neno-box-shadow);
}

.project-box:hover {
    transform: translateY(-.7rem);
}

.project-icon {
    border: 2px solid var(--hover-color);
    padding: 0.5rem;
    background: var(--secon-bg-color);
    display: flex;
    align-items: center;
    font-size: 3rem;
    border-radius: 50%;
    position: relative;
    color: var(--hover-color);
    box-shadow: var(--neno-box-shadow);
    outline: 3px solid var(--bg-color);
}

.project-box h3 {
    margin-top: 10px;
    font-size: 1.5rem;
}

.project-box p {
    margin: .5rem 0 1.5rem 0;
    font-weight: 300;
    letter-spacing: 1px;
    color: #bdbdbd;
    line-height: 1.6;
}

.main-text {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--hover-color);
}

.result-head {
    margin: .5rem 0 1.5rem 0;
    font-weight: 300;
    letter-spacing: 1px;
    color: #bdbdbd;
    line-height: 1.6;
    text-align: center;
}

.result-box {
    flex: 1 1 18rem;
    padding: 2rem 1rem 2rem;
    text-align: center;
    background: var(--secon-bg-color);
    transition: transform .4s;
    border-radius: 5px;
    box-shadow: var(--neno-box-shadow);
    letter-spacing: 50px;

   
}

.result-box-diploma {
    flex: 1 1 18rem;
    padding: 2rem 1rem 2rem;
    text-align: center;
    background: var(--secon-bg-color);
    transition: transform .4s;
    border-radius: 5px;
    box-shadow: var(--neno-box-shadow);
    letter-spacing: 50px ;
    

}

.result-head2 {
    margin: .5rem 0 1.5rem 0;
    font-weight: 300;
    letter-spacing: 1px;
    color: #bdbdbd;
    line-height: 1.6;
    text-align: center;
}

.result-head3 {
    margin: .5rem 0 1.5rem 0;
    font-weight: 300;
    letter-spacing: 1px;
    color: #bdbdbd;
    line-height: 1.6;
    text-align: center;
}

button{
    background: none;
    color:#fdfdfd;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.result-box-btech {
    flex: 1 1 18rem;
    padding: 2rem 1rem 2rem;
    text-align: center;
    background: var(--secon-bg-color);
    transition: transform .4s;
    border-radius: 5px;
    box-shadow: var(--neno-box-shadow);
    letter-spacing: 50px ;
}

.result-box:hover {
    transform: translateY(-.7rem);
}

.result-box-diploma:hover {
    transform: translateY(-.7rem);
}

.result-box-btech:hover {
    transform: translateY(-.7rem);
}





.contact {
    background-color: var(--bg-color);
}

.main-text {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--hover-color);
}

.main-text h2 {
    font-weight: 700;
    font-size: var(--normal-font);
}


.section-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 2rem;
}

.section-contact .contact-box {
    flex: 1 1 18rem;
    padding: 2rem 1rem 2rem;
    text-align: center;
    background: var(--bg-color);
    transition: transform .4s;
    border-radius: 10px;
    box-shadow: var(--neno-box-shadow);
}

.contact-box:hover {
    transform: translateY(-.7rem);
}

.contact-icon {
    border: 2px solid var(--hover-color);
    padding: 0.5rem;
    background: var(--secon-bg-color);
    display: flex;
    align-items: center;
    font-size: 3rem;
    border-radius: 50%;
    position: relative;
    color: var(--hover-color);
    box-shadow: var(--neno-box-shadow);
    outline: 3px solid var(--bg-color);
}

.contact-box h3 {
    margin-top: 10px;
    font-size: 1.5rem;
}

.contact-box p {
    margin: .5rem 0 1.5rem 0;
    font-weight: 300;
    letter-spacing: 1px;
    color: #bdbdbd;
    line-height: 1.6;
}
 
.myfooter {
    background-color: var(--bg-color);
}
footer {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color);
    
}

footer p{
    align-items: center;
    color: #bdbdbd;
}

footer a{
    display: inline-flex;
    justify-content: center;
    color: var(--text-color);
    background: var(--hover-color);
    padding: .6rem;
    border-radius: 5px;
    
}

footer a i{
    font-size: 1rem;
    color: var(--secon-bg-color);
}


.project-icon-img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    object-fit: contain;
}


@media(max-width:991px){
    header,
    header.sticky{
        padding: 15px 5%;
    }
    footer{
        padding: 15px 5%;
    }
    section{
        padding: 15px 5%;
    }
    .navlist{
        padding: 8px 15px;
    }
    :root{
        --bg-font: 2.2rem;
        --normal-font: 1.8rem;
        --neno-box-shadow: 0 0 .8rem #12f7ff;
        --h2-font: 3rem;

    }
    .home-cotent{
        margin-top: 5rem;
    }
}

@media(max-width:768px){
    #menu-icon{
        display: block;
        transition: all .4s ease;
    }

    #menu-icon.bx-x{
       transform: rotate(-180deg);
    }



    .navlist{
        display: flex;
        position: absolute;
        top: -1000px;
        right: 0;
        left: 0;
        flex-direction: column;
        background: var(--bg-color);
        text-align: left;
        padding: 0 5%;
        transition: all .45s ease;
    }
    .navlist a{
        display: block;
        padding-bottom: 1rem;
        font-size: 1rem;
    }

    .navlist.open{
        top: 100%;

    }

    .home{
        grid-template-columns: 1fr;
    }
    .home-image{
        margin-bottom: 5rem;
    }

    .liquid-shape{
        width: 80%;
        left: 10%;
        top: 13%;
    }

    .about{
        flex-direction: column-reverse;
    }

    .skill-main{
        grid-template-columns: 1fr;
    }

    footer p{
        font-size: .8rem;

    }
}

@media(max-width:420px){
    html{
        font-size: 80%;
    }
    footer p{
        font-size: .6rem;

    }
    .img-about img{
        max-width: 100%;
        height: auto;
        width: 300px;
    }
}




.scroll-scale{
    opacity: 0;
    transform: scale(.9);
    transition: all 2s;
}

.scroll-bottom{
    opacity: 0;
    transform: translateY(300px);
    transition: 3s;
}

.scroll-top{
    opacity: 0;
    transform: translateY(-300px);
    transition: 3s;
}



.show-items{
    opacity: 1;
    transform: translateX(0);
}


.btn-download-resume {
    display: inline-block;
    padding: 12px 25px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #4e54c8;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    transition: background 0.3s ease, transform 0.2s ease;
}

.btn-download-resume:hover {
    background-color: #3b43a3;
    transform: scale(1.05);
}









@keyframes html {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

@keyframes css {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

@keyframes javascript {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}

@keyframes php {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

@keyframes python {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

@keyframes java {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}

@keyframes glow{
    0%{
        background: var(--bg-color);
        box-shadow: none;
    }

    100%{
        background: var(--hover-color);
        box-shadow: var(--neno-box-shadow);
    }
}

@keyframes slideAnimation{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }

}